html, body{
  width:100%;
  height:100%;
  margin:auto;
  background-color: rgb(80, 80, 80);
}
.text{
  font-size: 1vw;
}
.gray-block{
  background-color: rgb(144, 144, 144);
  box-shadow: 10px 10px 5px black;
  border-radius: 10px;
}
.mid{
  display: inline-block;
  width:70%;
  height:50%;
  margin-left:15%;;
  margin-top:2%;
}
#arrow, #hand, #eye, #tools, #chat, #book, #towel{
  display:block;
  width:60%;
  margin:auto;
  margin-top:10%;
}
/* TOP BLOCK */
.top-block{
  width:74%;
  height:auto;
  margin:auto;
  margin-top: 1%;
  padding:1%;
  position:relative;
  z-index:1;
}
#top-right{
  width:100%;
  height:auto;
  display:inline-block;
  float:right;
  width:3%;
}
#day42{
  display:inline-block;
  width:35%;
}
#loupe{
  width:22%;
  z-index: 2;
  margin-left:39%;
  position:absolute;
}
#reload{
  width:60%;
  display:block;
  margin-left:35%;
}
#close{
  width:60%;
  display:block;
  margin-top:210%;
  margin-left:35%;
}
/* LEFT BLOCK*/
.left-block{
  width:8%;
  height:auto;
  padding:1%;
  float:left;
  padding-bottom:2%;
}
.border{
  border:2px solid red;
  border-radius: 5px;
}
/* MID BLOCK*/
.mid-block{
  width:72%;
  height:auto;
  padding:1%;
  float:left;
  margin-left:3%;
  z-index:1;
}
#cluster{
  width:100%;
  display:block;
  margin:auto;
  z-index:2;
  height:100%;
}
#norminet{
  width:10%;
  height: 95px;
  float: right;
  margin-top: -38%;
  margin-right: 49%;
  position: relative;
  /*background-color:red;*/
}
#douche{
  width:5%;
  height: 136px;
  float: left;
  margin-top: -41%;
  margin-left: 5%;
  position: relative;
  /*background-color:red;*/
}
#matelas{
  width:5%;
  height: 77px;
  float: right;
  margin-top: -46%;
  margin-right: 4%;
  position: relative;
  /*background-color:red;*/
}
#norminet-chaise{
  width:10%;
  height: 65px;
  float: right;
  margin-top: -22%;
  margin-right: 57%;
  position: relative;
  /*background-color:red;*/
}
#norminet-tig{
  width:7%;
  height: 31px;
  float: right;
  margin-top: -18%;
  margin-right: 24%;
  position: relative;
  /*background-color:red;*/
}

/* RIGHT BLOCK */
.right-block{
  width:8%;
  height:auto;
  padding:1%;
  float:right;
  margin-left:1%;
  padding-bottom:13%;
}
.brick{
    display:block;
    width:30%;
    visibility:hidden;
}
#bricks{
  display:block;
  background : url("resources/brick.jpg");
  background-repeat: repeat;
  background-size: 27%;
}
/* GREEN BLOCK */
.green{
  display:inline-block;
  background-color: rgb(140, 253, 142);
  width:36%;
  height:auto;
  z-index: 4;
  margin-top:-5%;
  margin-left: -5%;
  box-shadow: 10px 10px 5px black;
  border-radius: 10px;
  padding:1%;
}
p{
  font-size: 0.8vw;
  margin:0;
  font-family: Verdana;
}
#big{
  font-size: 2vw;
  font-family: Georgia;
}
#italic{
  font-style: italic;
}
#ordinateur{
  text-shadow:6px 6px 5.5px red;
}
#repondre{
  background-color: rgb(214, 214, 214);
  border-color: rgb(80, 80, 80);
  border: 1px solid;
  border-style:none;
  height: 10%;
  vertical-align: center;
  display:inline-block;
  width:20%;
  font-size: 0.8vw;
}
#formulaire{
  width:65%;
  height:10%;
  display:inline-block;
  margin-top: 1%;
  font-size: 0.8vw;
}
