html, body{
  width: 100%;
  height: 100%;
}
ul{
  width:100%;
  height: 20%;
  margin: auto;
  margin-top: 1%;
}
li{
  color: white;
  background-color: #446CB3;
  height:auto;
  text-align: center;
  font-size: 1,5vw;
  vertical-align: middle;
  list-style-type: none;
  position: relative;
}

.niveau1 li{
  display: inline-block;
  width:10%;
}
.niveau2 li{
  display: block;
  width:100%;
  margin-left:-2px;
  margin-top: -2%;
}
.niveau3 li{
  display: block;
  width:100%;
  margin-left:100%;
}

a{
  text-decoration: none;
  width:100%;
  height:100%;
  display: inline-block;
  padding-top: 7%;
  padding-bottom: 7%;
}
a:visited, a:link{
  color: white;
}

ul ul{
  display: none;
    position: absolute;
    padding : 0;
}
li:hover ul.niveau2{
  display: block;
}

.niveau2 li:hover ul.niveau3{
  display:block;
  margin-top:-20%;
}

.purple{
  background-color: #8E44AD;
  border: 2px solid #663399;
}

.blue{
  background-color: #52B3D9;
  border: 2px solid #4183D7;
}
.dark-blue{
  background-color: #446CB3;
  border: 2px solid #3A539B;
}
.green{
  background-color: #1BBC9B;
  border: 2px solid #019875;
}
.yellow{
  background-color: #F5D76E;
  border: 2px solid #F7CA18;
}
.orange{
  background-color: #F2784B;
  border: 2px solid #F9690E;
}
.red{
  background-color: #D64541;
  border: 2px solid #F22613;
}
